# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc

.idea
.gradle
*.iml
*.ipr
*.iws
*.ids
atlassian-ide-plugin.xml
.sonar-ide.properties

*/tmp
*/modules
*/lib
*/test-result
*/logs
*/war
*/precompiled
*/target
*/build
*/out
*/*.iml
*/*.ipr
*/*.iws
*/atlassian-ide-plugin.xml
*/data/attachments

*/*/tmp
*/*/modules
*/*/lib
*/*/test-result
*/*/logs
*/*/target
*/*/build
*/*/out
*/*/dist
*/*/*.iml
*/*/*.ipr
*/*/*.iws
*/*/atlassian-ide-plugin.xml
*/*/*.pyc
*/.DS_Store
.DS_Store

out/
target/
build/

.project
.settings/
*/.classpath
*/test-output/
*/.cache

pom.xml.*Backup
